.navbar {
    color: white;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(10, 10, 59);
    border-radius: 8px;
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 25px;
}

.navbar ul li {
    list-style-type: none;
    text-transform: uppercase;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    background-color: rgb(67, 67, 172);
}

.main_div {
    display: flex;
    justify-content: center;
}

.div_1 {
    background-color: aqua;
    width: 45%;
    height: 100px;
}

.div_2 {
    background-color: aliceblue;
    width: 45%;
    height: 100px;

}